* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.card-container {
    display: inline-flex;
    margin-left: 1vh;
    margin-right: 1vh;
    align-content: center;
}

body .workoutCard {
    display: inline-block;
}
body .workoutCard {
   padding: 1px;
   float: left;
   width: 29%;
   margin-left: 1vh;
   margin-right: 1vh;
   margin-top: 7.5px;
   margin-bottom: 7.5px;
   overflow: hidden;
}

body .workoutCard .card-body {
    object-fit: contain; 
}

body .workoutCard ::-webkit-scrollbar {
    width: 0px;
}

.App .workoutCard .add-card .add-card-btn {
    display: block;
    width: 100%;
    height: 100%;
    size: 300%;
    padding-top: 21.3vh;
    padding-bottom: 21.3vh;
    margin: 0;
}

.App .workoutCard .add-card {
    display: block;
    width: 100%;
    height: 100%;
    size: 300%;
    padding: 0;
}

.App .workoutCard .add-card .add-card-btn .MuiButton-label .MuiSvgIcon-root {
    width: 4.7em;
    height: 7em;
    position: static;
    padding: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-63%);
}

body:after {
    display: table;
    clear: both;
}
  

@media screen and (max-width: 600px) {
    .card-container {
        display: grid;
    }
    body .workoutCard {
        display: inline-block;
        width: fit-content;
        overflow: hidden;
    }

    body .card-container #add-card .add-card {
        display: inline-block;
        width: 90.5vw;
        overflow: hidden;
    }
}