.card-container {
    box-sizing: border-box;
    overflow-x: hidden;
}

.card-container {
    margin-left: 2vh;
    margin-right: 2vh;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

body .workoutCard {
    display: block;
}
body .workoutCard {
   padding: 1px;
   float: left;
   flex: 2 1 auto;
   width: 30%;
   min-height: 45vh;
   margin-right: 1%;
   margin-top: 7.5px;
   margin-bottom: 7.5px;
   box-sizing: border-box;
   overflow: hidden;
}

body .workoutCard .card-body {
    object-fit: contain; 
}

body .workoutCard ::-webkit-scrollbar {
    width: 0px;
}

.App .workoutCard .add-card .add-card-btn {
    display: block;
    width: 100%;
    height: 100%;
    size: 300%;
    margin: 0;
}

body .card-container #add-card .add-card {
    height: 100%;
    padding: 0;
}

.App .workoutCard .add-card .add-card-btn .MuiButton-label .MuiSvgIcon-root {
    width: 4.7em;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
}

body:after {
    display: table;
    clear: both;
}
  

@media screen and (max-width: 600px) {
    body .workoutCard {
        display: inline-block;
        width: fit-content;
        overflow: hidden;
    }

    body .card-container #add-card .add-card {
        display: inline-block;
        width: 90.5vw;
        overflow: hidden;
    }

    .App .workoutCard .add-card .add-card-btn .MuiButton-label .MuiSvgIcon-root {
        width: 5em;
        height: 100%;
        padding: 0;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-55%);
    }
}