* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.card-container {
    display: inline-flex;
    margin-left: 1vh;
    margin-right: 1vh;
    align-content: center;
}

body .workoutCard {
    display: inline-block;
}
body .workoutCard {
   padding: 1px;
   float: left;
   width: 29%;
   margin-left: 1vh;
   margin-right: 1vh;
   margin-top: 7.5px;
   margin-bottom: 7.5px;
   overflow: hidden;
}

body .workoutCard .card-body {
    object-fit: contain; 
}

body .workoutCard ::-webkit-scrollbar {
    width: 0px;
}

body:after {
    display: table;
    clear: both;
}
  

@media screen and (max-width: 600px) {
    .card-container {
        display: grid;
    }
    body .workoutCard {
        display: inline-block;
        width: fit-content;
        overflow: hidden;
    }
}